.header {
  color: #fff;
  background-color: #050f6b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6e5;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 2.5rem;

  &__newsBox {
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    padding: 25px;

    &:hover {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

img {
  max-width: 100%;
}
h2 {
  font-size: 1.4rem;
}
.wrapper {
  padding: 0 1rem;
}
